@import 'styles/theme/fonts';
@import 'styles/theme/media';

.button {
  font-size: $s;
  padding: 4px;

  span {
    display: none;
  }

  & > div {
    height: 2em;
    width: 2em;
  }

  @include media('>=tablet') {
    padding: 2px;

    & > div {
      height: 2.5em;
      width: 2.5em;
    }
  }

  @include media('>1120px') {
    padding: 4px;

    span {
      display: block;
    }

    & > div {
      height: 1.65em;
      width: 1.65em;
    }
  }
}
