@import 'styles/theme/media';
@import 'styles/theme/fonts';

.button {
  margin: auto auto 0;
  padding: 10px;
  margin-bottom: 5px;

  @include media('>=tablet') {
    padding: 13px;
    margin-bottom: 20px;
  }
}

.noPosition {
  margin-top: 25px;
}
