{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:testing-library/recommended",
    "plugin:jest-dom/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "import/no-cycle": "off"
  }
}
