@import 'styles/theme/media';
@import 'styles/theme/fonts';
@import 'styles/theme/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.gridWrapper {
  display: flex;
  flex-grow: 1;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), calc(100% / var(--rows)));
}

.gridItem {
  display: block;
  flex-grow: 1;
  border-top: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
}
