@import 'styles/theme/fonts';

@mixin button-shared {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background: none;
  font-weight: $semibold;

  & > div {
    width: auto;
    & > svg {
      width: auto;
    }
  }
}

.submit {
  @include button-shared;
  font-size: $l;

  svg {
    margin-left: 15px;
  }
}

.button {
  @include button-shared;
  padding: 7px 5px;
  font-size: $s;

  & > div {
    height: 1em;
    width: 1em;
    margin-left: 1em;

    svg {
      width: 100%;
      height: 100%;
      max-height: none;
      margin: 0;
    }
  }
}

.link {
  @extend .button;
  color: inherit;
  text-decoration: none;
}
