@import 'styles/theme/media';
@import 'styles/theme/fonts';

@mixin button-shared {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background: none;
  font-weight: $semibold;
  padding: 0;

  & > div {
    height: 1em;
    width: 1em;
    margin-left: 0.75em;

    svg {
      padding: 0.1em;
      width: 100%;
      height: 100%;
      max-height: none;
      margin: 0;
    }
  }
}

.submit {
  @include button-shared;
  font-size: $l;

  @include media('>=tablet') {
    font-size: $xl;
  }

  & > div {
    svg {
      padding: 0.15em;
    }
  }
}

.button {
  @include button-shared;
  padding: 7px 5px;
  font-size: $s;

  & > div {
    padding: 1px;
    width: 1.5em;
    height: 1.5em;
  }

  & > span {
    margin-top: 2px;
  }

  @include media('>phone') {
    font-size: $m;
  }

  @include media('>=tablet') {
    font-size: $l;
  }
}

.link {
  @extend .button;
  color: inherit;
  text-decoration: none;
}
