@import 'styles/theme/colors';
@import 'styles/theme/box-shadow';
@import 'styles/theme/media';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  box-shadow: $layout-elements;

  padding: 5px 20px;

  @include media('>=tablet') {
    padding: 8px 30px;
  }

  @include media('>1120px') {
    padding: 8px 40px;
  }
}
