@import 'styles/theme/media';

.wrapper {
  display: flex;
  margin-bottom: 10px;

  @include media('>phone') {
    margin-bottom: 15px;
  }

  @include media('>=tablet') {
    margin-bottom: 25px;
  }
}
