@import 'styles/theme/media';
@import 'styles/theme/colors';
@import 'styles/theme/fonts';
@import 'styles/theme/z-index';
@import 'styles/theme/box-shadow';

.alert {
  font-size: $l;
  font-weight: $medium;
  padding: 1em 1.5em;
  color: white;
  position: absolute;
  z-index: $level2;
  top: 20px;
  right: 20px;
  max-width: 200px;
  text-align: center;
  box-shadow: $layout-elements;

  &.success {
    background-color: $dark-green;
  }

  &.error {
    background-color: $dark-red;
  }

  @include media('>=laptop') {
    padding: 1.5em 3em;
    max-width: 250px;
  }
}
