@import 'styles/theme/media';
@import 'styles/theme/fonts';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;

  @include media('>=tablet') {
    margin-top: 80px;
  }

  @include media('>laptop') {
    margin-top: 90px;
  }
}

.actions {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media('>=tablet') {
    width: 275px;
  }

  @include media('>=laptop') {
    width: 310px;
  }

  @include media('>=1140px') {
    width: 375px;
  }

  button {
    @include media('>=tablet') {
      font-size: $m;
      margin-bottom: 2px;
    }

    & > div {
      width: 1.1em;
      height: 1.1em;
    }
  }
}
