@import 'styles/theme/media';
@import 'styles/theme/fonts';
@import 'styles/theme/colors';

.wrapper {
  @include media('>=tablet') {
    display: flex;
    margin-top: 85px;
    justify-content: center;
    align-items: center;
  }
}

.info {
  font-size: $l;
  text-align: center;
  max-width: 200px;
  line-height: 25px;
  margin: 55px auto 0;
  position: relative;

  @include media('>=tablet') {
    display: flex;
    align-items: center;
    margin: 0;
    text-align: right;
    font-size: $xl;
    max-width: 250px;
    line-height: 33px;
  }

  @include media('>=1150px') {
    font-size: $xxl;
    line-height: 42px;
    max-width: 400px;
  }

  &::after {
    content: '';
    display: block;
    margin: 40px auto 0;
    width: 35px;
    height: 1px;
    background-color: $dark-gray;

    @include media('>=tablet') {
      height: 200px;
      width: 1px;
      margin: 0 0 0 40px;
    }

    @include media('>=1150px') {
      margin-left: 70px;
    }
  }
}

.actions {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media('>=tablet') {
    margin: 0 0 0 40px;
    align-items: flex-start;

    button {
      font-size: $m;
    }
  }

  @include media('>=1150px') {
    margin-left: 70px;
    width: 300px;
  }
}
