@import 'styles/theme/media';
@import 'styles/theme/fonts';
@import 'styles/theme/colors';

.wrapper {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.label {
  font-size: $m;
  font-weight: $regular;
  color: darken($dark-gray, 30);
  position: absolute;
  pointer-events: none;
  left: 3px;
  top: 15px;
  transition: all 0.2s ease;

  @include media('>=tablet') {
    font-size: $l;
    top: 10px;
  }

  &.active {
    top: -13px;
    left: 0;
    font-size: $s;
    color: $black;

    @include media('>=tablet') {
      font-size: $s;
    }
  }

  &.error,
  &.active.error {
    color: $dark-red;
  }
}

.input {
  font-size: $l;
  padding: 10px 0;
  display: block;
  width: 100%;
  color: $black;
  background: none;
  border: none;
  border-bottom: 1px solid $dark-gray;
  transition: all 0.2s ease-in-out;
  max-width: 400px;

  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &.error,
  &:focus.error {
    border-bottom-color: $dark-red;
  }

  &:focus {
    outline: none;
    border-bottom-color: $black;

    & ~ .label {
      @extend .active;
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 30px $white inset;
  }
}

.errorMessage {
  font-size: $xs;
  height: 12px;
  margin-top: 7px;
  margin-left: 1px;
  color: $dark-red;

  @include media('>=tablet') {
    font-size: $s;
  }
}
