@import 'styles/theme/media';
@import 'styles/theme/colors';
@import 'styles/theme/box-shadow';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin page-wrapper {
  background-color: $white;
  box-shadow: $layout-elements;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;

  @include media('>phone') {
    padding: 30px;
  }

  @include media('>=tablet') {
    padding: 40px;
  }

  @include media('>laptop') {
    padding: 30px 50px;
  }
}

@mixin organization-info-block {
  @include media('>=tablet') {
    width: 300px;
    height: 275px;
    @include flex-center;
    flex-direction: column;
    padding: 0 30px;
  }

  @include media('>laptop') {
    width: 400px;
    height: 300px;
  }
}
