@import 'styles/theme/colors';
@import 'styles/theme/box-shadow';
@import 'styles/theme/media';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  box-shadow: $layout-elements;

  padding: 5px 20px;

  @include media('>=tablet') {
    padding: 10px 30px;
  }

  @include media('>=laptop') {
    padding: 7px 50px;
  }
}

.logo {
  width: 125px;

  @include media('>=tablet') {
    width: 175px;
  }

  @include media('>=laptop') {
    width: 150px;
  }
}
