@import 'styles/theme/fonts';
@import 'styles/theme/colors';

.order {
  background-color: black;
  color: white;
  padding: 4px;
  display: flex;

  &.hidden {
    display: none;
  }

  span {
    display: block;
  }
}

.link {
  width: 100%;
  height: 100%;
  color: $white;
  text-decoration: none;
}

.name {
  font-size: $s;
  font-weight: $medium;
}
