@import 'styles/theme/colors';
@import 'styles/theme/fonts';

.subName {
  text-transform: uppercase;
  font-weight: $semibold;
  color: $dark-gray;
  font-size: $s;
  margin: 0 0 8px 25px;
  opacity: 0.6;
  display: block;
}

.navLink {
  text-decoration: none;
  color: $black;
  font-weight: $semibold;
  font-size: $m;
  padding-left: 38px;
  position: relative;
  align-self: flex-start;

  &.active {
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      background-color: $black;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      border-radius: 0 5px 5px 0;
    }
  }
}
