@import 'styles/theme/z-index';
@import 'styles/theme/fonts';
@import 'styles/theme/colors';
@import 'styles/mixins';

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  font-size: $m;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $level2;
  width: 4.5em;
  height: 4.5em;
}

.spinner {
  @include flex-center;
  position: relative;
  width: 100%;
  height: 100%;

  & span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 75%;
    height: 75%;
    margin: 8px;
    border: 0.3em solid $dark-gray;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $dark-gray transparent transparent transparent;
  }
  & span:nth-child(1) {
    animation-delay: -0.45s;
  }
  & span:nth-child(2) {
    animation-delay: -0.3s;
  }
  & span:nth-child(3) {
    animation-delay: -0.15s;
  }
}
