@import 'styles/theme/media';
@import 'styles/theme/colors';
@import 'styles/theme/box-shadow';

.wrapper {
  display: none;

  @include media('>1120px') {
    display: flex;
    justify-content: center;
    background-color: $white;
    box-shadow: $layout-elements;
    grid-row: 6 / 11;
    grid-column: 1 / 3;
  }
}

.modalCalendar {
  display: flex;
  box-shadow: none;
}
