@import 'styles/theme/fonts';
@import 'styles/mixins';

.link {
  align-self: center;
  @include flex-center;
  flex-direction: column;
  text-decoration: none;
  color: $black;

  span {
    margin-top: 17px;
    font-size: $m;
    font-weight: $semibold;
    text-transform: uppercase;
  }

  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

.icon {
  width: 43px;
  height: 43px;
}
