@import 'styles/theme/fonts';
@import 'styles/theme/colors';
@import 'styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  span {
    width: 50px;
    height: calc(100% / var(--rows));
    font-size: $s;
    font-weight: $medium;
    flex-grow: 1;
    @include flex-center;
    border-top: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
  }
}
