@import 'styles/theme/media';
@import 'styles/theme/fonts';
@import 'styles/mixins';

.wrapper {
  @include page-wrapper;
}

.heading {
  margin-top: 100px;
}

.organizationLink {
  margin: 35px auto 0;
  font-size: $s;

  @include media('>=tablet') {
    font-size: $m;
  }
}
