@import 'styles/theme/fonts';

.wrapper {
  height: 100%;

  form {
    display: flex;
    flex-direction: column;
    height: 100%;

    button {
      align-self: flex-end;
      font-size: $l;
      margin-top: 5px;
      padding: 0;

      span {
        margin-top: 1px;
      }
    }

    button[type='button'] {
      & > div {
        height: 1em;
        width: 1em;
      }
    }
  }
}
