@import 'styles/theme/media';

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.organizationWrapper {
  @include media('>=tablet') {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  @include media('>=laptop') {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
