@import 'styles/theme/media';
@import 'styles/theme/fonts';
@import 'styles/theme/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.organizationWrapper {
  @include media('>=tablet') {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  @include media('>=laptop') {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}

.deleteButton {
  font-size: $m;
  color: $dark-red;
  margin: auto auto 0;

  @include media('>=tablet') {
    margin-bottom: 40px;
  }

  @include media('>=laptop') {
    margin-bottom: 30px;
  }
}
