@import 'styles/theme/media';
@import 'styles/theme/fonts';
@import 'styles/theme/colors';
@import 'styles/mixins';

.members {
  max-width: 200px;
  margin: 25px auto 0;
  line-height: 23px;

  @include media('>phone') {
    margin-top: 30px;
  }

  @include media('>=tablet') {
    max-width: none;
    margin: 0;
  }

  @include organization-info-block;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: $m;
      color: $dark-gray;
      font-weight: $medium;
      text-align: center;
      margin-bottom: 5px;
    }
  }
}

.membersHeading {
  font-size: $m;
  font-weight: $semibold;
  text-transform: uppercase;
  text-align: center;

  @include media('>phone') {
    font-size: $l;
  }
}

.noMembersInfo {
  font-size: $l;
  font-weight: $semibold;
  text-align: center;
  line-height: 1.55em;

  @include media('>=tablet') {
    margin: 0;
  }

  @include media('>=laptop') {
    font-size: $xl;
    max-width: 270px;
  }
}
