@import 'styles/mixins';
@import 'styles/theme/fonts';

.wrapper {
  @include page-wrapper;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.avatarWrapper {
  width: 3em;
  height: 3em;
  font-size: $xxl;
}
