@import 'styles/theme/media';
@import 'styles/theme/colors';
@import 'styles/theme/box-shadow';

.wrapper {
  background-color: $white;
  box-shadow: $layout-elements;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include media('>1120px') {
    flex-direction: row;
  }
}

.sidebar {
  background-color: lightgreen;
  height: 35px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  @include media('>1120px') {
    flex-direction: column;
    height: 100%;
    width: 150px;
  }
}

.title {
  margin: 0;
}
