@import 'styles/theme/media';

.button {
  border: none;
  background: none;
  width: 50px;
  padding: 10px;
  cursor: pointer;
  height: 100%;

  @include media('>1120px') {
    height: 60px;
    padding: 17px;
  }
}
