@import 'styles/theme/media';
@import 'styles/theme/colors';
@import 'styles/theme/box-shadow';

.wrapper {
  background-color: $white;
  box-shadow: $layout-elements;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topBar {
  @include media('>1120px') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
