@import 'styles/theme/colors';
@import 'styles/theme/media';
@import 'styles/theme/box-shadow';

.nav {
  display: none;
  align-items: center;
  background-color: $white;
  box-shadow: $layout-elements;
  grid-row: 1 / 6;
  grid-column: 1 / 3;

  @include media('>laptop') {
    display: flex;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 15px 0;

      &:first-child {
        margin: -10px 0 5px;
      }
    }
  }
}
