@import 'styles/theme/colors';
@import 'styles/theme/media';
@import 'styles/theme/box-shadow';

.nav {
  background-color: $black;
  display: flex;
  justify-content: space-between;
  box-shadow: $layout-elements;

  @include media('>laptop') {
    display: none;
  }
}
