@import 'styles/theme/colors';
@import 'styles/theme/media';
@import 'styles/theme/box-shadow';

.nav {
  background-color: $black;
  box-shadow: $layout-elements;

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 45px;

    li {
      width: calc(100% / 3);
    }

    @include media('>=tablet') {
      height: 54px;
    }
  }

  @include media('>laptop') {
    display: none;
  }
}
