@import 'styles/theme/media';

.wrapper {
  background-color: darkblue;
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  @include media('>=tablet') {
    height: 45px;
  }

  @include media('>1120px') {
    flex-direction: column;
    height: 100%;
    width: 150px;
  }
}
