$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 96%);
$dark-gray: hsl(0, 0%, 72%);
$black: hsl(0, 0%, 0%);

$light-red: hsl(333, 100%, 96%);
$dark-red: hsl(331, 100%, 50%);

$light-orange: hsl(36, 100%, 96%);
$dark-orange: hsl(36, 100%, 48%);

$light-blue: hsl(210, 100%, 96%);
$dark-blue: hsl(209, 100%, 50%);

$light-violet: hsl(252, 100%, 96%);
$dark-violet: hsl(252, 100%, 50%);

$light-green: hsl(105, 67%, 95%);
$dark-green: hsl(104, 100%, 41%);
