@import 'styles/theme/media';
@import 'styles/theme/fonts';
@import 'styles/theme/colors';

.button {
  color: $dark-red;
  margin: auto auto 0;

  & > div {
    width: 1.3em;
    height: 1.3em;
  }

  @include media('>=tablet') {
    margin-bottom: 40px;

    & > span {
      margin-top: 3px;
    }
  }

  @include media('>=laptop') {
    margin-bottom: 30px;
  }
}
